<style media="screen">
  .my-tble-head{
    font-weight: bold;
  }
</style>

<div ba-panel ba-panel-title="Organization" ba-panel-class="with-scroll">

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="my-tble-head">Sr No</th>
        <th class="my-tble-head">Name</th>
        <th class="my-tble-head">Description</th>
        <th class="my-tble-head">Address</th>
        <th class="my-tble-head">Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="organization in organizationListVM.organizations">
        <td>{{$index + 1}}</td>
        <td>{{organization.name}}</td>
        <td>{{organization.description}}</td>
        <td>{{organization.address}}</td>
        <td>{{organization.contact}}</td>
      </tr>
    </tbody>
  </table>

</div>
