<div class="row">
  <div class="col-md-12">
    <div ba-panel ba-panel-title="Tasks" ba-panel-class="with-scroll">


      <div class="add-row-editable-table">
        <button class="btn btn-primary" ng-click="addTask()">Add Task</button>
      </div>
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <td>Sr No</td>
          <td>Description</td>
          <td>Duration</td>
          <td>Status</td>
           <td>Actions</td>
        </tr>
        <tr ng-repeat="task in taskList" class="editable-row">
          <td>
              {{$index+1}}
          </td>
          <td>
              <span  editable-text="task.description" e-name="description" e-form="rowform" e-required>
                {{ task.description || 'empty' }}
              </span>
          </td>
          <td>
            <span  editable-text="task.duration" e-name="duration" e-form="rowform" e-required>
              {{ task.duration || 'empty' }}
            </span>
          </td>

          <td class="select-td">
              <span editable-select="task.status" e-name="status" e-form="rowform" e-selectpicker
                    e-ng-options="s.value as s.text for s in statuses">
               <b> {{ showStatus(task) }}</b>
              </span>
          </td>

          <td>
            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                  shown="inserted == task">
              <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs" ng-click="TaskListVM.saveTask(rowform.$data)">
                Save
              </button>
              <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                Cancel
              </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
              <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()" ng-disabled="true">Edit</button>
              <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)" ng-disabled="true">Delete</button>
            </div>
          </td>
        </tr>
      </table>



    </div>
  </div>
</div>
