<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div ba-panel ba-panel-title="Tasks" ba-panel-class="xmedium-panel ">
            <div include-with-scope="app/pages/timesheet/views/timesheettable.html"></div>
        </div>

    </div>
    <div class="col-lg-4 col-md-12 col-sm-12"
         ba-panel
         ba-panel-title="Chart View"
         ba-panel-class="xmedium-panel">
        <div ng-include="'app/pages/timesheet/views/timesheetchart.html'"></div>
    </div>
</div>
