<div class="widgets">
  <div class="row">
    <div class="col-md-12">
       <div
          ba-panel
          ba-panel-title="Add Project"
          ba-panel-class="with-scroll">

          <div id="add-project">
          <form class="form-horizontal">
          <div class="form-group row">
              <label for="project-name" class="col-lg-2">Project Name:</label>
               <div class="col-sm-9">
              <input type="text" class="form-control " id="project-name" placeholder="enter organization name here">
            </div>
            </div>
            <div class="form-group">
                <label for="project-description" class="col-lg-2">Project Description:</label>
                <div class="col-sm-9">
                <textarea class="form-control" rows="6" id="project-description" placeholder="enter organization description here"></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-primary center-block btn-md">Add</button>
          </form>
          </div>

      </div>
</div>
