<div>
  <div class="row">
      <div class="">
<button type="button" ng-click="previous()" class="btn btn-primary custom col-md-3 col-xs-12">previous</button>
      </div>
<div class="col-md-6 col-xs-12 text-center"><h3>{{mon}}   {{year}}</h3></div>
      <div class="">
<button type="button" ng-click="next()" class="btn btn-primary btn custom col-md-3 col-xs-12 ">Next</button>
</div>
</div>

    <center>
<div ng-repeat="day in daysObjs" class="calendar center">
    <div class="btn-icon my-cal-days">{{day.day}} </div>
    <div class="btn-icon my-cal-num" ng-class="{selected: day.isSelected}" ng-click="dateClick(day)">{{day.date}}</div>
</div>
    </center>
</div>
